.dxp-template-form-row
    label(for="node-config-input-name")
        i.fa.fa-tag
        | Name
    .content
        input(type="text" id="node-config-input-name")

.dxp-template-form-row
    label(for="node-config-input-host")
        i.fa.fa-server
        | Host
    .content
        input(type="text" id="node-config-input-host")

.dxp-template-form-row
    label(for="node-config-input-user")
        i.fa.fa-user
        | User
    .content
        input(type="text" id="node-config-input-user")

.dxp-template-form-row
    label(for="node-config-input-password")
        i.fa.fa-key
        | Password
    .content
        input(type="password" id="node-config-input-password")
